{% extends 'base.html' %}
{% load humanize %}

{% block title %} {{ title }} {% endblock %}

{% block content %} 
<div class="container p-4">
    <h2>{{ title }}</h2>
    <div class="text-muted">
        <strong>Transaction Type:</strong>
        <span>{{ transaction.transaction_type }}</span>
        &bull;
        <strong>Transaction Date:</strong>
        <span>{{ transaction.date_recorded }}</span>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <strong>Transaction Amount:</strong>
            <span>{{ transaction.transaction_amount | intcomma }}</span>
        </div>

        <div class="col-sm-6">
            <strong>Business ShortCode:</strong>
            <span>
                <a href="{% url "home" %}?q={{ transaction.business_shortcode }}" class="text-decoration-none" data-bs-toggle="tooltip" title="Search transactions for Business Number {{ transaction.business_shortcode }}">
                {{ transaction.business_shortcode }}
                <i class="bi bi-info-circle"></i>
                </a>
            </span>
        </div>
        <div class="col-sm-6">
            <strong>Bill Ref Number:</strong>
            <span>{{ transaction.bill_refnumber }}</span>
        </div>
        <div class="col-sm-6">
            <strong>MSISDN:</strong>
            <span>
                <a href="{% url "home" %}?q={{ transaction.msisdn }}" class="text-decoration-none" data-bs-toggle="tooltip" title="Search transactions for MSISDN {{ transaction.msisdn }}">
                    {{ transaction.msisdn }}
                    <i class="bi bi-info-circle"></i>
                </a>
            </span>
        </div>

        <div class="col-sm-6">
            <strong>Transaction Amount</strong>
            <span>{{ transaction.transaction_amount }}</span>
        </div>
        <div class="col-sm-6">
            <strong>Org Account Balance:</strong>
            <span>{{ transaction.org_account_balance | intcomma }}</span>
        </div>
        <div class="col-sm-6">
            <strong>C2B Validation Time:</strong>
            <span>{{ transaction.validation_request_time }}</span>
        </div>
        <div class="col-sm-6">
            <strong>C2B Confirmation Time:</strong>
            <span>{{ transaction.confirmation_request_time }}</span>
        </div>
    </div>

    {% if transaction.validation_request is not None %}
        <div class="card mt-4">
            <div class="card-header">
                Validation Request
            </div>
            <div class="card-body">
                <p class="card-text">{{ transaction.validation_request }}</p>
            </div>
        </div>
    {% endif %}

    {% if transaction.confirmation_request is not None %}
        <div class="card mt-4">
            <div class="card-header">
                Confirmation Request
            </div>
            <div class="card-body">
                <p class="card-text">{{ transaction.confirmation_request }}</p>
            </div>
        </div>
    {% endif %}


</div>
{% endblock %}