{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %} 
<div class="container p-4">
    <h2 class="text-center">{{ title }}</h2>

    <div>
        <label>Transaction Amount</label>
        <span>{{ transaction.transaction_amount }}</span>
    </div>
    <div>
        <label>Transaction Type</label>
        <span>{{ transaction.transaction_type }}</span>
    </div>
    <div>
        <label>Business ShortCode</label>
        <span>{{ transaction.business_shortcode }}</span>
    </div>
    <div>
        <label>Bill Refnumer</label>
        <span>{{ transaction.bill_refnumber }}</span>
    </div>
    <div>
        <label>MSISDN</label>
        <span>{{ transaction.msisdn }}</span>
    </div>
    <div>
        <label>Date</label>
        <span>{{ transaction.date_recorded }}</span>
    </div>
    <div>
        <label>Transaction Amount</label>
        <span>{{ transaction.transaction_amount }}</span>
    </div>
    <div>
        <label>Org Account Balance</label>
        <span>{{ transaction.org_account_balance }}</span>
    </div>
    <div>
        <label>C2B Validation Time</label>
        <span>{{ transaction.validation_request_time | date }}</span>
    </div>
    <div>
        <label>C2B Confirmation Time</label>
        <span>{{ transaction.confirmation_request_time | date }}</span>
    </div>


</div>
{% endblock %}