{% extends 'base.html' %}
{% load humanize %}

{% block title %} Lipa Na M-Pesa Transactions {% endblock %}

{% block content %}
<div class="container-fluid p-4">
    <table class="table table-sm table-striped ">
        <thead>
            <th>Transaction ID</th>
            <th>Transaction Type</th>
            <th>Amount</th>
            <th>Business Number</th>
            <th>Bill RefNumber</th>
            <th>MSISDN</th>
            <th>Date</th>
            <th>Status</th>
            <th>Operation</th>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>
                        <a href="/details/{{ transaction.transaction_id }}">
                            {{ transaction.transaction_id }}
                        </a>
                    </td>
                    <td>{{ transaction.transaction_type }}</td>
                    <td>{{ transaction.transaction_amount | intcomma }}</td>
                    <td>
                        <a href="{% url "home" %}?q={{ transaction.business_shortcode }}" data-bs-toggle="tooltip" title="Search transactions for Business Number {{ transaction.business_shortcode }}" class="text-decoration-none">
                            {{ transaction.business_shortcode }}
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </td>
                    <td>{{ transaction.bill_refnumber }}</td>
                    <td>
                        <a href="{% url "home" %}?q={{ transaction.msisdn }}" class="text-decoration-none" title="Search transactions for MSISDN {{ transaction.msisdn }}" data-bs-toggle="tooltip">
                            {{ transaction.msisdn }}
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </td>
                    <td>{{ transaction.date_recorded }}</td>
                    <td>{{ transaction.transaction_status }}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-outline-primary">
                            <i class="bi bi-zoom-in"></i>
                        </button>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}